* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 auto;
    
    font-family: Arial, Helvetica, sans-serif;
}
.full-container{
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
}
.LOGO img{
    width: 150px;
}

.MENU {
    width: 100%;
    font-size: 1em;
}

.MENU-TOP {
    display: flex;
    justify-content: space-between;
    align-items: ;
}

.MENU-BAR-A {
    display: flex;
    list-style: none;
}

.SEARCH-BAR input{
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    
}
.SOCIAL{
    padding: 20px  ;
}

.MENU-BOTTOM {
    display: flex;
    justify-content: space-between;
    background-color: coral;
}
.MENU-BAR-B{
    display: flex;
    list-style: NONE;
    color: white;
    padding-top: 10pX;
}
.MENU-TOP,.MENU-BOTTOM{
    padding: 20px;

}
.MENU li{
    padding-left: 50px;
    margin: 0 auto;
    
}
.MENU ul{
    font-size: 20px;
    font-weight: bold;
}
.social-icons{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-self: center;
    
}
.social-icons li{
    margin: 0 10px;
    

}
.social-icons a{
    text-decoration: none;
    color: white;
    
}

.banner-img{
    width: 100%;
    
}
.list-content{
    display: flex;   
}
.list-1,.list-2{
   flex: 1;
   margin: 10px;
    
    
}
.list-1 img, .list-2 .list-top img {
    width: 100%;
    height: auto;
}
.list-bottom {
    display: flex;
    justify-content: space-between;
}
.list-bottom img {
    width: 50%;
    height: auto;
    padding: 20px;
}

