* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.header .section-1 .section-1 .section-2 .section-3 html {
    font: 14px Arial;
    color: #000;
}

.clearfix {
    clear: both;
}

.full-container,
.container {
    margin: 0 auto;
    overflow: auto;
}

.full-container {
    width: 100%;
}

.container {
    width: 940px;
}

.row {
    width: 100%;
    overflow: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
    float: left;
    position: relative;
    min-height: 1px;
}

.col-1 {
    width: 16.66666667%;

}

.col-2 {
    width: 33.33333%;
}

.col-3 {
    width: 50%;
    overflow: auto;
}

.col-4 {
    width: 66.66667%;
}

.col-5 {
    width: 83.33333%;
}

.col-6 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-left::after,
.float-right::after {
    clear: both;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.header {
    /* 
        Chiều cao 706px 
        Ảnh nền head-background.jpg 
        Ảnh nền không lặp 
        Vị trí ảnh nền nằm giữa 
        Kích thước ảnh nền: cover  
        */
    height: 706px;
    background-image: url(/images/head-background.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;

}




.logo,
.hotline {
    /* chiều cao 200px */
    height: 200px;
}

.logo {
    /*  
        Ảnh nền logo.png 
        Ảnh nền không lặp  
        */
    background-image: url(/images/logo.png);
    background-repeat: none;
}

.hotline>p {
    /* 
        Font chữ Verdana 
        Kích thước chữ gấp đôi bình thường 
        Font chữ đậm 
        Chữ căn lề giữa 
        Chữ màu trắng 
        Lề trên 80px 
        Vùng đệm 10px 
        Màu nền #49A333 
        Đường viền được bo góc với kích thước 7px 
        */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 80px;
    padding: 10px;
    background-color: #49a333;
    border-radius: 7px;


}

.register-form {
    /* 
        Rộng 360px 
        Cao 450px 
        Lề trên 50px 
        Vùng đệm 20px 
        Đường viền liền nét 10px, màu #ced086 
        Màu nền #678B37 
        Chữ màu trắng 
        */
    width: 360px;
    height: 450px;
    margin-top: 50px;
    padding: 20px;
    outline: 10px color(#ced086);
    background-color: #678B37;
    color: white;


}

.register-form h1 {
    /* 
        Cỡ chữ gấp 2.3 bình thường 
        Chữ căn lề giữa 
        Lề trên 10px, phải 0px, dưới 20px, trái 0px 
        */
    font-size: 2.3em;
    text-align: center;
    margin-top: 10px 0px 20px 0px;
}

.register-form p {
    /* 
        Cỡ chữ gấp 1.2 bình thường 
        Chữ căn lề giữa 
        Chữ in nghiêng 
        Vùng đệm trên 2px, phải 0px dưới 2px trái 0px 
        */
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
    padding-top: 2px 0 2px 0;

}


.register-form input {
    /* 
        Độ rộng 100% 
        Chế độ hiển thị block     
        Không có đường viền 
        Đường viền dưới liền nét, 1px, màu rgb(204, 204, 204, 0.2) 
        Đường trên liền nét, 1px, màu rgba(255,255,255,0.5);    
        Lề 5px 
        Vùng đệm 5px  
        Chữ màu trắng 
        Nền trong suốt 
        */
    width: 100%;
    display: block;
    border: none;
    outline: 1px rgb(204 204 204 0.2);
    margin: 5px;
    color: white;
    background-color: transparent;
    font-size: 20px;


}

.register-form input::placeholder {
    /* Chữ màu trắng */
    color: white;
}

.register-form button {
    /* 
        Chế độ hiển thị block 
        Màu nền #c5d301 
        Vùng đệm trên 15px, phải 20px, dưới 15px, trái 20px 
        Không có viền 
        Cỡ chữ gấp 1.1 bình thường 
        Màu trắng 
        Nằm giữa vùng chứa 
        */
    display: block;
    background-color: #c5d301;
    padding-top: 15px 20px 15px 20px;
    border: none;
    font-size: 2em;
    color: white;
    position: relative;
    top: 5px;
    left: 50px;



}

.section-1 {
    /* Lề trên 20px */
    margin-top: 20px;
}

.section-1 h1 {
    /* 
        Màu chữ #2d8c3e 
        Chữ đậm 
        Chữ căn lề giữa 
        Cỡ chữ gấp 1.2 bình thường 
        Lề trên 10px, phải 0px, dưới 20px, trái 0px  
        */
    color: #2d8c3e;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px 0 20px 0;




}

.section-1 p {
    /* 
        Cỡ chữ gấp 1.2 bình thường 
        Chữ căn lề đều hai bên 
        */
    font-size: 1.2rem;
    text-align: justify;
}

.section-1 img {
    /* 
        Kích thước 95% 
        Đường viền gạch ngang, 2px màu #2D8C3E 
        Đường viền bo góc với kích thước 20px 
        */
    size: 95%;
    border-bottom: 2px #2d8c3e;
    border-radius: 20px;

}

.section-2 {
    /* 
    Màu nền #81af53 
    Lề trên 20px 
    Chữ màu trắng 
    */
    background-color: #81af53;
    margin-top: 20px;
    color: white;
}

.section-2 h1 {
    /* 
    Cỡ chữ gấp 1.4 lần bình thường 
    Chữ đậm 
    Lề trên 20px, phải 0px, dưới 20px, trái 0px 
    Đường viền dưới liền nét, 1px màu trắng 
    */
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px 0 20px 0;
    border-bottom: 1px white
}

.section-2 p {
    /* Chữ căn đều hai bên */
    text-align: justify;
}

.section-2 img {
    /* 
    Kích thước 80% 
    Lề trên 20px, phải 0px, dưới 20px, trái 0px  
    */
    size: 80%;
    margin-top: 10px;

}

.section-3 {
    /* 
    Màu nền #dce085 
    Vùng đệm dưới 40px 
    */
    background-color: #dce085;
    padding-bottom: 40px;
}

.section-3 h1 {
    /* 
    Cỡ chữ gấp 1.7 lần bình thường 
    Màu chữ #196530 
    Chữ đậm 
    Chữ căn lề giữa 
    Lề trên 20px, phải 0px, dưới 20px, trái 0px 
    */
    font-size: 1.7em;
    color: #196530;
    font-weight: bold;
    text-align: center;
    margin-top: 20px 0 20px 0;
}

.section-3 input {
    /* 
    Rộng 100% 
    Lề trên 5px, phải 0, dưới 5px, trái 0 
    Cỡ chữ bằng 0.9 kích thước bình thường 
    Vùng đệm 5px 
    Không có đường viền 
    */
    width: 100%;
    margin-top: 5px 0 5px 0;
    font-size: 0.9rem;
    padding: 5px;
    border:none ;
}

.section-3 button {
    /* 
    Rộng 100% 
    Màu nền #2A6E01 
    Vùng đệm 5px 
    Không có đường viền 
    Chữ màu trắng 
    */
    width: 100%;
    background-color: #2A6E01;
    padding: 5px;
    border: none;
    color: white;
}